<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css"
    
</head>
<body>
    <h3>Message Board</h3>
    <a href="/new">Add message!</a
    <ul>
        <% messages.forEach(message=> { %>
            <li>Message: <%= message.text %> <br> User: <%= message.user %>  <br> Date: <%= message.added %>
            </li>
            <% }); %>
    </ul>


</body>

</html>