<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <h3>Index</h3>
    
    <ul>
        <% messages.forEach(message=> { %>
            <li>Text: <%= message.text %>, User: <%= message.user %>, Date: <%= message.Date %>
            </li>
            <% }); %>
    </ul>


</body>

</html>